# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/.gradle/
/fabric/.gradle/
/fabric/build/
/forge/.gradle/
/forge/build/
/common/.gradle/
/common/build/
/.idea/
/build/
/build/
/common/.gradle/
/common/build/
/common/run/
